html , body{ 
	font-family: 'Source Sans Pro', sans-serif; 
}

#holder{
	width:100%;
	height:100%; 
	background-color:#ffffff;
}

#hello_world{ 
	width:99%;
	height:30%;  	   
	font-size:150px;     
	top:40%;  
	text-align:center;
	overflow:hidden;
	position:absolute;
	color:#f8f8f8;
}